/* БАЗОВЫЕ СЕЛЕКТОРЫ
-----------------------------------------------------*/


body {
    color: #4a4a4a;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.5;
    font-family: PT Serif;
}

h1, h2, h3, h4, h5, h6, h7 {
    font-family: 'PT Serif Caption', serif;
}

.navbar-item {
    font-family: 'PT Sans Narrow', sans-serif;
}


/* ОТНОШЕНИЯ
------------------------------------------------------------*/


p+.box {
    margin-top: 2.0rem;
}

p+.tile.is-ancestor{
    margin-top: 2.0rem;
}

.tile .title {
    font-style: normal;
    color: #a1aab7;
}

/* КЛАССОВЫЕ СЕЛЕКТОРЫ
----------------------------------------------------------------------------
 */

.media-right{
    margin-top: auto;
    margin-bottom: auto;
}

.subtitle {
    color: #4a4a4a;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.25;
    font-family: 'PT Sans Narrow', sans-serif;

}


.letter{
    font-style: italic;
    font-family: 'PT Serif', serif;
    font-size: 1.2rem;
    color: #4a4a4a;
}

.letterlink{
    font-style: italic;
    font-family: 'PT Serif', serif;
    font-size: 1.2rem;
    color: blue;
}


.navbar-dropdown{
    margin-top: -50px;
}

.navbar-item{
    font-size: 1.4rem;
}

.topkizk {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1.5rem;
    padding: 1.5rem;
    background-color: whitesmoke;
}
/*    height: 10rem ; */

.kizknavbar {
    background-color: white;
    min-height: 220px;
    position: relative;
    z-index: 30;
}

.myfooter {
    text-align: center;
    color: #dc3545;
    margin-top: -13%;
}


/* НА ПАМЯТЬ
-----------------------------------------------------------------------------------------------
 */

.qqq {
    font-family: 'PT Serif', serif;
}
.qqq {
    font-family: 'PT Serif', serif;
}

.qqq{
    font-family: 'PT Serif Caption', serif;
}
.qqq{
    font-family: 'PT Sans Narrow', sans-serif;
}
