{% extends 'base.html.twig' %}

{% block body %}

<!--Раздел: 1. О бренде + Продукты -->

    <div class="section columns has-background-white-bis">
        <div class="column is-2-fullhd is-1-widescreen is-0-tablet has-background-white-bis"></div>
        <div class="column is-8-fullhd is-10-widescreen is-11-tablet has-background-white-bis">
            <div class="tile is-ancestor">
                <div class="tile">
                    <div class="tile is-parent is-7">
                        <article class="tile is-child box has-background-white-bis has-shadow ">
                            <p class="title">О бренде</p>
                            <p class="subtitle">Коровка из Кореновки — самая душевная</p>
                                <img src="/images/brend.jpg">
                        </article>
                    </div>
                    <div class="tile is-parent is-5">
                        <article class="tile is-child box has-background-white-bis">
                            <p class="title">
                                <a  href="/producty">Продукты</a>
                            </p>
                            <p class="subtitle">Каталог от Коровки</p>
                            <figure>
                                <a href="/producty">
                                    <img src="/images/img21.png">
                                </a>
                            </figure>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-2-fullhd is-1-widescreen is-1-tablet has-background-white-bis"></div>
    </div>


<!-- Раздел X. Отзывы -->

    <div class="section columns has-background-white-bis">
        <div class="column is-2-fullhd is-1-widescreen is-0-tablet has-background-white-bis"></div>
        <div class="container column is-8-fullhd is-10-widescreen is-11-tablet has-background-white-bis">
            <div class="media">
                <figure class="media-left">
                    <p class="image is-96x96">
                        <img src="images/replies/sherbet-96.png">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Мария</strong> <small> 15.08.2019 15:55</small>
                            <br>
                            <span class="letter">Здравствуйте, ваше мороженое безумно вкусное! Впервые пробую сочетание шербета и пломбира. Теперь оно в списке любимых мороженых!</span>
                        </p>
                    </div>
                    <nav class="level is-mobile">
                        <div class="level-left">
                            <a class="level-item">
                                <span class="icon is-small" title="Читать полностью"><i class="fas fa-book-reader"></i></span>
                            </a>
                            <a class="level-item">
                                <span class="icon is-small" title="Поддержать"><i class="fas fa-thumbs-up"></i></span>
                            </a>
                        </div>
                    </nav>
                </div>
                <div class="media-right">
                    <div class="box is-shadowless has-background-white-bis">
                        <span class="icon is-small has-text-danger" title="Поддержка"><i class="fas fa-heart"></i></span>
                        <span class="subtitle">&nbsp 3</span>
                     </div>
                </div>
            </div>
            <div class="media">
                <figure class="media-left">
                    <p class="image is-96x96">
                        <img src="images/replies/tm-96.png">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Юлия Л.</strong> <small>14.08.2019 11:50</small>
                            <br>
                            <span class="letter"> Только года 1,5 назад попробовала впервые мороженое данной марки и оно сразу же стало любимым! Те, кому посчастливилось поесть советского мороженого... </span>
                        </p>
                    </div>
                    <nav class="level is-mobile">
                        <div class="level-left">
                            <a class="level-item">
                                <span class="icon is-small" title="Читать полностью"><i class="fas fa-book-reader"></i></span>
                            </a>
                            <a class="level-item">
                                <span class="icon is-small" title="Поддержать"><i class="fas fa-thumbs-up"></i></span>
                            </a>
                        </div>
                    </nav>
                </div>
                <div class="media-right">
                    <div class="box is-shadowless has-background-white-bis">
                        <span class="icon is-small has-text-danger" title="Поддержка"><i class="fas fa-heart"></i></span>
                        <span class="subtitle">&nbsp 9</span>
                    </div>
                </div>
            </div>
            <div class="media">
                <figure class="media-left">
                    <p class="image is-96x96">
                        <img src="images/replies/plombir-96.png">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Ирина Ленева</strong> <small> 12.08.2019 14:53</small>
                            <br>
                            <span class="letter">У нас в семье большие любители сладостей не только дети, но и взрослые, а мороженое стоит на первом месте. И вот сегодня мы попробовали пломбир «Коровка из Кореновки»...</span>
                        </p>
                    </div>
                    <nav class="level is-mobile">
                        <div class="level-left">
                            <a class="level-item">
                                <span class="icon is-small" title="Читать полностью"><i class="fas fa-book-reader"></i></span>
                            </a>
                            <a class="level-item">
                                <span class="icon is-small" title="Поддержать"><i class="fas fa-thumbs-up"></i></span>
                            </a>
                        </div>
                    </nav>
                </div>
                <div class="media-right">
                    <div class="box is-shadowless has-background-white-bis">
                        <span class="icon is-small has-text-danger"title="Поддержка"><i class="fas fa-heart"></i></span>
                        <span class="subtitle">&nbsp 16</span>
                    </div>
                </div>
            </div>
            <div class="media">
                <figure class="media-left">
                    <p class="image is-96x96">
                        <img src="images/replies/icecream-96.png">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Александр</strong> <small>11.08.2019 17:38</small>
                            <br>
                            <span class="letter"> Самое лучшее мороженое в настоящее время, напоминает вкус из детства. Мороженое, которому нет равных. </span>
                        </p>
                    </div>
                    <nav class="level is-mobile">
                        <div class="level-left">
                            <a class="level-item">
                                <span class="icon is-small" title="Читать полностью"><i class="fas fa-book-reader"></i></span>
                            </a>
                            <a class="level-item">
                                <span class="icon is-small" title="Поддержать"><i class="fas fa-thumbs-up"></i></span>
                            </a>
                        </div>
                    </nav>
                </div>
                <div class="media-right">
                    <div class="box is-shadowless has-background-white-bis">
                        <span class="icon is-small has-text-danger"title="Поддержка"><i class="fas fa-heart"></i></span>
                        <span class="subtitle">&nbsp 17</span>
                    </div>
                </div>
            </div>
            <div class="media">
                <figure class="media-left">
                    <p class="image is-96x96">
                        <img src="images/replies/krembrjule-96.png">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Марина</strong> <small>30.07.2018 05:50</small>
                            <br>
                            <span class="letter"> Очень вкусный пломбир крем- брюле. Нежный сливочный,просто ешь и получаешь наслаждение. Вот еще бы вафельный стаканчик чуть похрустел, было бы вообще замечательно. Спасибо!!! </span>
                        </p>
                    </div>
                    <nav class="level is-mobile">
                        <div class="level-left">
                            <a class="level-item">
                                <span class="icon is-small" title="Читать полностью"><i class="fas fa-book-reader"></i></span>
                            </a>
                            <a class="level-item">
                                <span class="icon is-small" title="Поддержать"><i class="fas fa-thumbs-up"></i></span>
                            </a>
                        </div>
                    </nav>
                </div>
                <div class="media-right">
                    <div class="box is-shadowless has-background-white-bis">
                        <span class="icon is-small has-text-danger" title="Поддержка"><i class="fas fa-heart"></i></span>
                        <span class="subtitle">&nbsp 22</span>
                    </div>
                </div>
            </div>
            <div class="level">
                <div class="level-item">
                    <div class="button subtitle">
                        Больше отзывов
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-2-fullhd is-1-widescreen is-0-tablet has-background-white-bis"></div>
    </div>

<!-- Раздел 2. Новинки, Продукты, Производство -->

    <div class="section columns has-background-white-bis">
        <div class="column is-2-fullhd is-1-widescreen is-0-tablet has-background-white-bis"></div>
        <div class="column is-8-fullhd is-10-widescreen is-11-tablet has-background-white-bis">
            <div class="tile is-ancestor">
                <div class="tile">
                    <div class="tile is-parent is-5">
                        <article class="tile is-child box  has-background-white">
                            <p class="title">Новинки</p>
                            <p class="subtitle">Расширяем ассортимент</p>
                            <figure>
                                <img src="/images/innovation.jpg">
                            </figure>
                        </article>
                    </div>
                    <div class="tile is-parent is-7">
                        <article class="tile is-child box has-background-white-bis">
                            <p class="title">Производство</p>
                            <p class="subtitle">Коровкины альбомы</p>
                            <figure>
                                <img src="/images/proizvodstvo.jpg" height="200px">
                            </figure>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-2-fullhd is-1-widescreen has-background-white-bis"></div>
    </div>

<!-- Почтовая врезка -->

    <div class="level columns has-background-white-ter">
        <div class="container column is-4-fullhd is-offset-7-fullhd is-6-widescreen is-offset-5-widescreen is-8-tablet is-offset-3-tablet has-background-white-ter">
             <span class="icon">
                 <i class="fas fa-quote-left"></i>
             </span>
            <span class="letterlink">
                  Вчера решилась моя проблема выбора между пломбиром и шербетом! Я попробовала... <span class="icon is-small" title="Читать полностью"><i class="fas fa-book-reader"></i></span>
             </span>
        </div>
        <div class="container column is-1 has-background-white-ter">
            <span class="icon ">
                <i class="far fa-envelope-open is-size-3"></i>
            </span>
        </div>
    </div>

<!-- Раздел 3. Новости, Обратная связь, Контакты -->

    <div class="section columns has-background-white-bis">
        <div class="column is-2-fullhd is-1-widescreen is-0-tablet has-background-white-bis"></div>
        <div class="column is-8-fullhd is-10-widescreen is-11-tablet has-background-white-bis">
            <div class="tile is-ancestor">
                <div class="tile">
                    <div class="tile is-4 is-parent">
                        <article class="tile is-child box has-background-white-bis">
                            <p class="title">Новости</p>
                            <p class="subtitle">Коровка в стране и обществе</p>
                            <figure>
                                <img src="/images/news.png">
                            </figure>
                        </article>
                    </div>

                    <div class="tile is-4 is-parent">
                        <article class="tile is-child box has-background-white-bis">
                            <p class="title">Обратная связь</p>
                            <p class="subtitle">Делимся впечатлениями</p>
                                <figure>
                                    <img src="/images/backlink.png">
                                </figure>
                        </article>
                    </div>

                    <div class="tile is-4 is-parent">
                        <article class="tile is-child box has-background-white-bis">
                            <p class="title">Контакты</p>
                            <p class="subtitle">Как с нами связаться</p>
                                <figure>
                                    <img src="/images/contacts.png">
                                </figure>
                            </article>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-2-fullhd is-1-widescreen has-background-white-bis"></div>
    </div>


{% endblock %}

{% block javascripts %}
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
{% endblock %}