{% extends 'base.html.twig' %}

{% block body %}

<!--ТЕЛО: 1. ТОРГОВАЯ МАРКА -->

    <div class="section columns has-background-white-bis">
        <div class="column is-8 is-offset-2 has-background-white-bis">
            <div class="container">
                <p class="title is-1 has-text-centered">Знакомьтесь: Мороженое&nbspиз&nbspКореновки</p>
                <p>Все мороженое "Коровка из Коренвки" производится на "Фабрике настоящего мороженого". Это молодое предприятие вступило в строй в 2014 году и оснащено по последнему слову техники. Большая часть оборудования приобретена у известных западноевропейских лидеров пищевого машиностроения. Среди поставщиков нашего оборудования компании из Италии, Швейцарии, Германии. Однако сырье, рецептура, технологии, и традиции — наши, родные, отечественные.
                </p>
            </div>
        </div>
    </div>

    <div class="level columns has-background-white-ter">
        <div class="comtainer column is-4 is-offset-7 has-background-white-ter">
             <span class="icon">
                 <i class="fas fa-quote-left"></i>
             </span>
            <span>
                  <span class="has-text-danger"> Это очень важный элемент!</span> Он предназначен для динамического представления отзывов от наших покупателей... (см. ниже)
             </span>
        </div>
        <div class="container column is-1 has-background-white-ter">
            <span class="icon ">
                <i class="far fa-envelope-open is-size-3"></i>
            </span>
        </div>
    </div>

    <div class="section columns has-background-white-bis">
        <div class="column is-8 is-offset-2 has-background-white-bis">
            <div class="content">
                <p>Мороженое выпускается в трех форматах:</p>
                <ul>
                    <li> порционное мороженое — для индивидуальных потребителей; </li>
                    <li> семейное мороженое — для группового использования;</li>
                    <li> мороженое для сектора HoReCa.</li>
                </ul>
                <p>Порционное мороженое — это традиционный формат, к которому относится мороженое в вафлях, в рожках, в стаканчиках и в шоколаде (эскимо). Отличается умеренным размером порций. </p>
                <p>Мороженое семейного формата имеет увеличенный размер порций (до 1000 г). Его упаковка допускает повторное сохранение после частичного использования.</p>
                <p>HoReCa — это сравнительно новый, современный формат подготовки и продажи продуктов, удобный для использования в заведениях организованного питания: отелях (Нo...), ресторанах (Re...) и кафе (Ca...). Для сектора HoReCa мороженое поставляется в функциональных контейнерах расфасовкой до 2000 г.
                </p>
            </div>
        </div>
    </div>


<!-- ТЕЛО 2. ОСНОВНЫЕ НАПРАВЛЕНИЯ. ПЛИТКА -->





{% endblock %}

{% block javascripts %}
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
{% endblock %}