{% extends 'base.html.twig' %}

{% block body %}

<!--1. Мороженое -->

    <section class="section columns has-background-white-bis">
        <aside class="column is-2-fullhd is-1-widescreen is-0-tablet has-background-white-bis"></aside>
        <div class="column is-8-fullhd is-10-widescreen is-11-tablet  has-background-white-bis">
            <div class="container">
                <p class="title is-2 has-text-centered">Порционное мороженое</p>
                <p>Порционный формат мороженого отличается особым разнообразием ассортимента и имеет повышенную популярность. В этом формате выпускается более 50 различных видов мороженого. Здесь каждый может найти для себя наилучший выбор по вкусу, удобству контейнера, размеру порции и по цене.
                </p>
            </div>
        </div>
        <aside class="column is-2-fullhd is-1-widescreen is-0-tablet has-background-white-bis"></aside>
    </section>

<!-- 2. Уровни --->
    <section class="columns has-background-white-bis">
        <aside class="column is-2-fullhd is-1-widescreen is-0-tablet has-background-white-bis"></aside>
        <div class="column is-8-fullhd is-10-widescreen is-11-tablet has-background-white-bis">
            <div class="level">
                <a class="level-item" href="/producty/morozhenoe/portsionnoe/vaphelnyjstakan">
                    <div class="container">
                        <p class="subfigure"><img src="/images/logo-200.png"></p>
                        <p class="subfigure">Вафельный<br>стакан</p>
                    </div>
                </a>
                <div class="level-item">
                    <div class="container">
                        <p class="subfigure"><img src="/images/logo-200.png"></p>
                        <p class="subfigure">Вафельный<br>рожок</p>
                    </div>
                </div>
                <div class="level-item">
                    <div class="container">
                        <p class="subfigure"><img src="/images/logo-200.png"></p>
                        <p class="subfigure">Лакомство</p>
                    </div>
                </div>
                <div class="level-item">
                    <div class="container">
                        <p class="subfigure"><img src="/images/logo-200.png"></p>
                        <p class="subfigure">Брикет<br>в вафлях</p>
                    </div>
                </div>
             </div>
        </div>
        <aside class="column is-2-fullhd is-1-widescreen has-background-white-bis"></aside>
    </section>
    <section class="columns has-background-white-bis">
        <aside class="column is-2-fullhd is-1-widescreen is-0-tablet has-background-white-bis"></aside>
        <div class="column is-8-fullhd is-10-widescreen is-11-tablet has-background-white-bis">
            <div class="level">
                <div class="level-item">
                    <div class="container">
                        <p class="subfigure"><img src="/images/logo-200.png"></p>
                        <p class="subfigure">Эскимо</p>
                    </div>
                </div>
                <div class="level-item">
                    <div class="container">
                        <p class="subfigure"><img src="/images/logo-200.png"></p>
                        <p class="subfigure">Эскимо<br>круглое</p>
                    </div>
                </div>
                <div class="level-item">
                    <div class="container">
                        <p class="subfigure"><img src="/images/logo-200.png"></p>
                        <p class="subfigure">Йогуртное<br>мороженое</p>
                    </div>
                </div>
                <div class="level-item">
                    <div class="container">
                        <p class="subfigure"><img src="/images/logo-200.png"></p>
                        <p class="subfigure">Пломбир в<br>пластиковом стаканчике</p>
                    </div>
                </div>
            </div>
        </div>
        <aside class="column is-2-fullhd is-1-widescreen has-background-white-bis"></aside>
    </section>
    <section class="columns has-background-white-bis">
        <aside class="column is-2-fullhd is-1-widescreen is-0-tablet has-background-white-bis"></aside>
        <div class="column is-8-fullhd is-10-widescreen is-11-tablet has-background-white-bis">
            <div class="level">
                <div class="level-item">
                    <div class="container">
                        <p class="subfigure"><img src="/images/logo-200.png"></p>
                        <p class="subfigure">Мороженое в<br>бумажном стаканчике</p>
                    </div>
                </div>
                <div class="level-item">
                    <div class="container">
                        <p class="subfigure"><img src="/images/logo-200.png"></p>
                        <p class="subfigure">Батончик<br>в коробочке</p>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <aside class="column is-2-fullhd is-1-widescreen has-background-white-bis"></aside>
    </section>
{% endblock %}

{% block javascripts %}
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
{% endblock %}