{% extends 'base.html.twig' %}

{% block body %}

    <!--ТЕЛО: 1. ТОРГОВАЯ МАРКА -->

    <div class="section columns has-background-white-bis">
        <div class="column is-8 is-offset-2 has-background-white-bis">
            <div class="container">
                <h2 class="title is-2 has-text-centered">Знакомьтесь: Коровка&nbspиз&nbspКореновки</h2>
                <p>Здесь будет размещен вступительный текст, посвященный торговой марке. Он займет не одну строку, особенно если уменьшить размер страницы по горизонтали. А еще сюда войдут красивые картинки о вкусной и здоровой пище, например такие как эта.</p>
                <div class="box has-background-white-ter">
                    <p><img src="/images/img18.png"></p>
                </div>
                <p>Если вы заметили, что не все продукты на снимке в действительности принадлежат Коровке, то будете правы. Здесь действительно есть кое-что от Алексеевского. Дело в том, что эта страница не настоящая. Она представляет всего лишь демонстрационную модель, по которой настоящие художники и писатели подготовят реальные тексты и картинки для сайта.</p>
            </div>
        </div>
    </div>

    <div class="level columns has-background-white-ter">
        <div class="container column is-4 is-offset-7 has-background-white-ter">
             <span class="icon">
                 <i class="fas fa-quote-left"></i>
             </span>
            <span class="letter">
                  <span class="letter"> Мороженое оказалось объедением, бомбой. Для меня было очень неожиданно... (читать полностью)
             </span>
        </div>
        <div class="container column is-1 has-background-white-ter">
            <span class="icon ">
                <i class="far fa-envelope-open is-size-3"></i>
            </span>
        </div>
    </div>

    <!-- ТЕЛО 2. ОСНОВНЫЕ НАПРАВЛЕНИЯ. ПЛИТКА -->

    <div class="section columns has-background-white-bis">
        <div class="column is-8 is-offset-2 has-background-white-bis">
            <h3 class="title is-3">Коровкины продукты</h3>
            <p>Здесь будет размещен краткий вступительный очерк, представляющий продукты от Коровки. Их характерной особенностью является то, что все они изготовлены из молока, произведенного на Кубани. Кубань - это два южных моря, чистый воздух, теплый климат, близкие горы, урожайные земли и много солнечных дней в году. В таких редких природных условиях на свет появляется удивительное молоко. А труженики этой благодатной земли превращают его в замечательные молочные продукты</p>

            <div class="tile is-ancestor">
                <div class="tile">
                    <div class="tile is-parent is-8">
                        <article class="tile is-child box  has-background-white-bis">
                            <h3 class="title is-3">Мороженое</h3>
                            <p class="subtitle">Тот самый вкус</p>
                            <figure>
                                <img src="/images/img2.png">
                            </figure>
                            <p>По каждому продукту копирайтер может добавить несколько проникновенных фраз, чтобы брали за душу и подталкивали нажать на кнопку.</p>
                        </article>

                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box has-background-white-bis">
                            <h4 class="title is-4">Мягкий шоколад</h4>
                            <p class="subtitle">Без растительных жиров</p>
                            <figure>
                                <img src="/images/img4.png">
                            </figure>
                            <p class="icon">
                                <i class="fas fa-quote-left"></i>
                            </p>
                            <p class="letter">Вкусно. Удобно. Шоколадно.</p>
                            <span class="icon">
                                    <i class="fas fa-quote-right"></i>
                            </span>
                            <p class="letter">(Из книги отзывов)</p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="level columns has-background-white-ter">
        <div class="container column is-4 is-offset-7 has-background-white-ter">
             <span class="icon">
                 <i class="fas fa-quote-left"></i>
             </span>
            <span class="letter">
                  Полюбили всей семьёй мороженое "Коровка из Кореновки". За сливочный вкус пломбира... (читать полностью)
             </span>
        </div>
        <div class="container column is-1 has-background-white-ter">
            <span class="icon ">
                <i class="far fa-envelope-open is-size-3"></i>
            </span>
        </div>
    </div>

    <div class="section columns has-background-white-bis">
        <div class="column is-8 is-offset-2 has-background-white-bis">
            <div class="tile is-ancestor">
                <div class="tile is-4 is-parent">
                    <article class="tile is-child box has-background-white-bis">
                        <h3 class="title is-3">Молонез</h3>
                        <p class="subtitle">Вкусное должно быть полезным</p>
                        <figure>
                            <img src="/images/img3.png">
                        </figure>
                        <p>Белый густой термостатный соус со вкусом майонеза и пользой молока</p>
                    </article>
                </div>
                <div class="tile is-8 is-parent">
                    <article class="tile is-child box has-background-white-bis">
                        <h3 class="title is-3">Молочные лакомства</h3>
                        <p class="subtitle">Нам есть чем гордиться!</p>
                        <div class="level">
                            <div class="level-item">
                                <img src="/images/img21.png" width="300" height="300">
                            </div>
                        </div>
                        <p>Продукт, который не нуждается в представлении. Многократный победитель конкурсов, призер международных выставок, торжественный участник телевизионных шоу.</p>
                    </article>
                </div>
            </div>
        </div>
    </div>

    <div class="level columns has-background-white-ter">
        <div class="container column is-4 is-offset-7 has-background-white-ter">
             <span class="icon">
                 <i class="fas fa-quote-left"></i>
             </span>
            <span class="letter">
                  С мороженым бренда "Коровка из Кореновки" первый раз столкнулась на даче... (читать полностью).
             </span>
        </div>
        <div class="container column is-1 has-background-white-ter">
            <span class="icon ">
                <i class="far fa-envelope-open is-size-3"></i>
            </span>
        </div>
    </div>


    <div class="section columns has-background-white-bis">
        <div class="column is-8 is-offset-2 has-background-white-bis">
            <div class="tile is-ancestor">
                <div class="tile">
                    <div class="tile is-parent is-8">
                        <article class="tile is-child box  has-background-white-bis">
                            <h3 class="title is-3">Цельномолочные продукты</h3>
                            <p class="subtitle">Свое, родное, настоящее!</p>
                            <figure>
                                <img src="/images/img5.png">
                            </figure>
                            <p>Для перехода на страницу продуктовой категории/линейки, надо щелкнуть на картинке или на заголовке. Однако возможно, что дизайнер титульной страницы решит использовать специально отрисованную кнопку перехода. Ему виднее.</p>
                        </article>


                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box has-background-white-bis">
                            <h4 class="title is-4">Чизби</h4>
                            <p class="subtitle">Только разогреть</p>
                            <figure>
                                <img src="/images/img1.png" width="200" height="200">
                                <img src="/images/img6.png" width="200" height="200">
                            </figure>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
{% endblock %}