{% extends 'base.html.twig' %}

{% block body %}

<!--1. Мороженое -->

    <section class="section columns has-background-white-bis">
        <aside class="column is-2-fullhd is-1-widescreen is-0-tablet has-background-white-bis"></aside>

        <div class="column is-8-fullhd is-10-widescreen is-11-tablet  has-background-white-bis">
            <article class="container">
                <p class="title is-2 has-text-centered">Мороженое в вафельном стаканчике</p>
                <p>Здесь может быть небольшая вступительная статья, посвященная данной категории порционного мороженого. Здесь будет материал по данной категории. Здесь должна быть небольшая вступительная статья, посвященная данной категории порционного мороженого.
                </p>
            </article>
        </div>

        <aside class="column is-2-fullhd is-1-widescreen is-0-tablet has-background-white-bis"></aside>
    </section>

    <!-- 2. Медиаформаты --->

    <hgroup class="columns has-background-white-bis">
        <aside class="column is-2-fullhd is-1-widescreen is-0-tablet has-background-white-bis"></aside>
        <div class="column is-8-fullhd is-10-widescreen is-11-tablet  has-background-white-bis">
            <p class="title is-3 ">Ассортимент мороженого в вафельном стаканчике</p>

            <div class="box has-background-white-bis">
            <div class="media">
                <figure class="media-left is-hidden-touch">
                    <a class="image is-128x128" href="/card">
                        <img src="/images/128/16.png">
                    </a>
                </figure>

                <div class="media-content">
                    <div class="content">

                        <div class="level">
                            <a class="sku" href="/card">Пломбир ванильный в вафельном стаканчике</a>
                        </div>
                        <div class="level">
                            <div class="level-left has-background-white-ter">
                                <p class="parameters">Масса (г): <strong>&nbsp100</strong></p>
                            </div>
                            <div class="level-item has-background-white-ter">
                                <p class="parameters">Массовая доля жира (%): <strong>&nbsp15</strong></p>
                            </div>
                            <div class="level-right has-background-white-ter is-hidden-touch">
                                <p class="parameters">Энергетическая ценность (ккал):<strong>&nbsp205</strong> </p>
                            </div>
                        </div>
                    <nav class="level is-mobile">
                        <div class="level-left">
                            <a class="level-item" href="/card">
                                <span class="icon is-small" title="Открыть карточку продукта"><i class="fas fa-book-reader"></i></span>
                            </a>
                            <a class="level-item">
                                <span class="icon is-small" title="Рекомендовать"><i class="fas fa-thumbs-up"></i></span>
                            </a>
                        </div>
                    </nav>
                    </div>
                </div>
                <div class="media-right">
                    <div class="box is-shadowless has-background-white-bis">
                        <span class="icon is-medium has-text-danger" title="Поддержка"><i class="fas fa-heart"></i></span>
                        <span class="subtitle">&nbsp 3</span>
                    </div>
                </div>
            </div>
            </div>
            <div class="box has-background-white-bis">
                <div class="media">
                    <figure class="media-left is-hidden-touch">
                        <p class="image is-128x128">
                            <img src="/images/128/placeholder.png">
                        </p>
                    </figure>

                    <div class="media-content">
                        <div class="content">

                            <div class="level">
                                <p class="sku">Пломбир фисташковый в вафельном стаканчике</p>
                            </div>
                            <div class="level">
                                <div class="level-left has-background-white-ter">
                                    <p class="parameters">Масса (г): <strong>&nbsp100</strong></p>
                                </div>
                                <div class="level-item has-background-white-ter">
                                    <p class="parameters">Массовая доля жира (%): <strong>&nbsp15</strong></p>
                                </div>
                                <div class="level-right has-background-white-ter is-hidden-touch">
                                    <p class="parameters">Энергетическая ценность (ккал):<strong>&nbsp257</strong> </p>
                                </div>
                            </div>
                            <nav class="level is-mobile">
                                <div class="level-left">
                                    <a class="level-item">
                                        <span class="icon is-small" title="Открыть карточку продукта"><i class="fas fa-book-reader"></i></span>
                                    </a>
                                    <a class="level-item">
                                        <span class="icon is-small" title="Рекомендовать"><i class="fas fa-thumbs-up"></i></span>
                                    </a>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div class="media-right">
                        <div class="box is-shadowless has-background-white-bis">
                            <span class="icon is-medium has-text-danger" title="Поддержка"><i class="fas fa-heart"></i></span>
                            <span class="subtitle">&nbsp 8</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box has-background-white-bis">
                <div class="media">
                    <figure class="media-left is-hidden-touch">
                        <p class="image is-128x128">
                            <img src="/images/128/placeholder.png">
                        </p>
                    </figure>

                    <div class="media-content">
                        <div class="content">

                            <div class="level">
                                <p class="sku">Пломбир крем-брюле в вафельном стаканчике</p>
                            </div>
                            <div class="level">
                                <div class="level-left has-background-white-ter">
                                    <p class="parameters">Масса (г): <strong>&nbsp100</strong></p>
                                </div>
                                <div class="level-item has-background-white-ter">
                                    <p class="parameters">Массовая доля жира (%): <strong>&nbsp15</strong></p>
                                </div>
                                <div class="level-right has-background-white-ter is-hidden-touch">
                                    <p class="parameters">Энергетическая ценность (ккал):<strong>&nbsp216</strong> </p>
                                </div>
                            </div>
                            <nav class="level is-mobile">
                                <div class="level-left">
                                    <a class="level-item">
                                        <span class="icon is-small" title="Открыть карточку продукта"><i class="fas fa-book-reader"></i></span>
                                    </a>
                                    <a class="level-item">
                                        <span class="icon is-small" title="Рекомендовать"><i class="fas fa-thumbs-up"></i></span>
                                    </a>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div class="media-right">
                        <div class="box is-shadowless has-background-white-bis">
                            <span class="icon is-medium has-text-danger" title="Поддержка"><i class="fas fa-heart"></i></span>
                            <span class="subtitle">&nbsp 6</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box has-background-white-bis">
                <div class="media">
                    <figure class="media-left is-hidden-touch">
                        <p class="image is-128x128">
                            <img src="/images/128/placeholder.png">
                        </p>
                    </figure>

                    <div class="media-content">
                        <div class="content">

                            <div class="level">
                                <p class="sku">Пломбир шоколадный в вафельном стаканчике</p>
                            </div>
                            <div class="level">
                                <div class="level-left has-background-white-ter">
                                    <p class="parameters">Масса (г): <strong>&nbsp100</strong></p>
                                </div>
                                <div class="level-item has-background-white-ter">
                                    <p class="parameters">Массовая доля жира (%): <strong>&nbsp15</strong></p>
                                </div>
                                <div class="level-right has-background-white-ter is-hidden-touch">
                                    <p class="parameters">Энергетическая ценность (ккал):<strong>&nbsp222</strong> </p>
                                </div>
                            </div>
                            <nav class="level is-mobile">
                                <div class="level-left">
                                    <a class="level-item">
                                        <span class="icon is-small" title="Открыть карточку продукта"><i class="fas fa-book-reader"></i></span>
                                    </a>
                                    <a class="level-item">
                                        <span class="icon is-small" title="Рекомендовать"><i class="fas fa-thumbs-up"></i></span>
                                    </a>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div class="media-right">
                        <div class="box is-shadowless has-background-white-bis">
                            <span class="icon is-medium has-text-danger" title="Поддержка"><i class="fas fa-heart"></i></span>
                            <span class="subtitle">&nbsp 10</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box has-background-white-bis">
                <div class="media">
                    <figure class="media-left is-hidden-touch">
                        <p class="image is-128x128">
                            <img src="/images/128/placeholder.png">
                        </p>
                    </figure>

                    <div class="media-content">
                        <div class="content">

                            <div class="level">
                                <p class="sku">Пломбир с шоколадной крошкой в вафельном стаканчике</p>
                            </div>
                            <div class="level">
                                <div class="level-left has-background-white-ter">
                                    <p class="parameters">Масса (г): <strong>&nbsp100</strong></p>
                                </div>
                                <div class="level-item has-background-white-ter">
                                    <p class="parameters">Массовая доля жира (%): <strong>&nbsp15</strong></p>
                                </div>
                                <div class="level-right has-background-white-ter is-hidden-touch">
                                    <p class="parameters">Энергетическая ценность (ккал):<strong>&nbsp260</strong> </p>
                                </div>
                            </div>
                            <nav class="level is-mobile">
                                <div class="level-left">
                                    <a class="level-item">
                                        <span class="icon is-small" title="Открыть карточку продукта"><i class="fas fa-book-reader"></i></span>
                                    </a>
                                    <a class="level-item">
                                        <span class="icon is-small" title="Рекомендовать"><i class="fas fa-thumbs-up"></i></span>
                                    </a>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div class="media-right">
                        <div class="box is-shadowless has-background-white-bis">
                            <span class="icon is-medium has-text-danger" title="Поддержка"><i class="fas fa-heart"></i></span>
                            <span class="subtitle">&nbsp 7</span>
                        </div>
                    </div>
                </div>
            </div>
         </div>
        <aside class="column is-2-fullhd is-1-widescreen is-0-tablet has-background-white-bis"></aside>
    </hgroup>

{% endblock %}

{% block javascripts %}
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
{% endblock %}